.App {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: black;
  font-size: 36px;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #dddddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}